#### Identifying safe loans with decision trees

The [LendingClub](https://www.lendingclub.com/) is a peer-to-peer leading company that directly connects borrowers and potential lenders/investors. In this notebook, you will build a classification model to predict whether or not a loan provided by LendingClub is likely to [default](https://en.wikipedia.org/wiki/Default_%28finance%29).

In this notebook you will use data from the LendingClub to predict whether a loan will be paid off in full or the loan will be [charged off](https://en.wikipedia.org/wiki/Charge-off) and possibly go into default. In this assignment you will:

* Use SFrames to do some feature engineering.
* Train a decision-tree on the LendingClub dataset.
* Predict whether a loan will default along with prediction probabilities (on a validation set).
* Train a complex tree model and compare it to simple tree model.

Let's get started!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
loans = pd.read_csv('lending-club-data.csv')
loans.head(2)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,0.4,1.0,1.0,1.0,0,8.1435,20141201T000000,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,0.8,1.0,1.0,1.0,1,2.3932,20161201T000000,1,1,1

#### Exploring the target column

The target column (label column) of the dataset that we are interested in is called `bad_loans`. In this column **1** means a risky (bad) loan **0** means a safe  loan.

In order to make this more intuitive and consistent with the lectures, we reassign the target to be:
* **+1** as a safe  loan, 
* **-1** as a risky (bad) loan. 

We put this in a new column called `safe_loans`.

In [5]:
# safe_loans =  1 => safe
# safe_loans = -1 => risky
loans['safe_loans'] = loans['bad_loans'].apply(lambda x : +1 if x==0 else -1)
del loans['bad_loans']

In [7]:
loans['safe_loans'].head(2)

0    1
1   -1
Name: safe_loans, dtype: int64

#### Features for the classification algorithm

In this assignment, we will be using a subset of features (categorical and numeric). The features we will be using are **described in the code comments** below. If you are a finance geek, the [LendingClub](https://www.lendingclub.com/) website has a lot more details about these features.

In [8]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

target = 'safe_loans'                   # prediction target (y) (+1 means safe, -1 is risky)

# Extract the feature columns and target column
loans = loans[features + [target]]

What remains now is a **subset of features** and the **target** that we will use for the rest of this notebook.

#### Sample data to balance classes

As we explored above, our data is disproportionally full of safe loans.  Let's create two datasets: one with just the safe loans (`safe_loans_raw`) and one with just the risky loans (`risky_loans_raw`).

In [9]:
safe_loans_raw = loans[loans[target] == +1]
risky_loans_raw = loans[loans[target] == -1]
print("Number of safe loans  : %s" % len(safe_loans_raw))
print("Number of risky loans : %s" % len(risky_loans_raw))

Number of safe loans  : 99457
Number of risky loans : 23150

Now, write some code to compute below the percentage of safe and risky loans in the dataset and validate these numbers against what was given using `.show` earlier in the assignment:

In [20]:
print("Percentage of safe loans :",(len(safe_loans_raw)/(len(safe_loans_raw)+len(risky_loans_raw))*100))
print("Percentage of risky loans :",( len(risky_loans_raw)/(len(safe_loans_raw)+len(risky_loans_raw))*100 ))

Percentage of safe loans : 81.11853319957262
Percentage of risky loans : 18.881466800427383

One way to combat class imbalance is to undersample the larger class until the class distribution is approximately half and half. Here, we will undersample the larger class (safe loans) in order to balance out our dataset. This means we are throwing away many data points. We used `seed=1` so everyone gets the same results.

In [24]:
# Since there are fewer risky loans than safe loans, find the ratio of the sizes
# and use that percentage to undersample the safe loans.
percentage = len(risky_loans_raw)/float(len(safe_loans_raw))

risky_loans = risky_loans_raw
safe_loans = safe_loans_raw.sample(frac = percentage, random_state=1)

# Append the risky_loans with the downsampled version of safe_loans
loans_data = risky_loans.append(safe_loans)

In [26]:
print("Percentage of safe loans :",(len(safe_loans)/(len(safe_loans)+len(risky_loans))*100))
print("Percentage of risky loans :",( len(risky_loans)/(len(safe_loans)+len(risky_loans))*100 ))

Percentage of safe loans : 50.0
Percentage of risky loans : 50.0

#### Split data into training and validation sets

We split the data into training and validation sets using an 80/20 split and specifying `seed=1` so everyone gets the same results.

**Note**: In previous assignments, we have called this a **train-test split**. However, the portion of data that we don't train on will be used to help **select model parameters** (this is known as model selection). Thus, this portion of data should be called a **validation set**. Recall that examining performance of various potential models (i.e. models with different parameters) should be on validation set, while evaluation of the final selected model should always be on test data. Typically, we would also save a portion of the data (a real test set) to test our final model on or use cross-validation on the training set to select our final model. But for the learning purposes of this assignment, we won't do that.

In [29]:
# split into train and test
# load the given data
trainidx = pd.read_json('module-5-assignment-1-train-idx.json')
trainidx[0] = trainidx[0] + 1 
validationidx  = pd.read_json('module-5-assignment-1-validation-idx.json')
validationidx[0] = validationidx[0] + 1 

train_data = pd.merge(trainidx, loans_data, left_on=0, right_on=loans_data.index)
validation_data = pd.merge(validationidx, loans_data, left_on=0, right_on=loans_data.index)

In [31]:
train_data

,0,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
0,2,C,C5,0,11,RENT,8.72,small_business,36 months,1,1,98.5,0.0,1
1,7,B,B5,1,1,RENT,18.08,other,60 months,1,1,36.5,0.0,-1
2,13,D,D1,1,1,RENT,20.31,debt_consolidation,36 months,1,1,81.5,0.0,1
3,24,D,D2,0,3,RENT,13.97,other,60 months,0,1,59.5,0.0,-1
4,51,E,E4,0,8,RENT,20.52,credit_card,60 months,1,1,75.1,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14222,122507,C,C4,0,7,MORTGAGE,9.04,debt_consolidation,36 months,1,1,55.8,0.0,1
14223,122554,D,D3,0,8,MORTGAGE,23.81,debt_consolidation,60 months,1,1,34.9,0.0,1
14224,122570,A,A4,0,7,MORTGAGE,27.68,major_purchase,36 months,0,1,70.6,0.0,-1
14225,122573,B,B2,0,11,MORTGAGE,18.37,debt_consolidation,36 months,1,1,55.3,0.0,-1
14226,122604,D,D3,0,6,MORTGAGE,12.28,medical,60 months,0,0,10.7,0.0,-1

#### Use decision tree to build a classifier

In [ ]:
from sklearn import tree
decision_tree_model = tree.DecisionTreeClassifier()
decision_tree_model = decision_tree_model.fit(X, y)



decision_tree_model = turicreate.decision_tree_classifier.create(train_data,
                                                                 validation_set=None,
                                                                 target = target,
                                                                 features = features)